// out: ../css/master.css, sourcemap: true, compress: true, libs: nib
@import "style.css"
@import url('https://fonts.googleapis.com/css?family=Lato')

azul-dark=#336699
azul-light=#5FA9DD
accent=#CC2F6F
gris-dark=#343434
gris-light=#828282
color-facebook=#3D5A98
color-twitter=#5FA9DD
nav-Height=3.8rem
*
  margin:0
  padding:0
  box-sizing: border-box
body
  font-family: 'Lato', sans-serif
a
  text-decoration:none
body
  font-size:16px
.nav
  background-color:gris-light
  width:100%
  height:nav-Height
  display:inline-block
  margin:0
  a
    margin-top:1.2em
    float:left
    margin-left:1em
  input
    padding:.5em
    margin-left:1em
    margin-top:.9em
    float:left
    width:60%
    height:2.3em
  .navigation
    width:80%
    background-color:gris-dark
    opacity:.9
    max-height:inherit
    height: 35em
    margin-top:nav-Height
    position:relative
    transition:  margin-left 0.4s ease-in-out
    .search
      width:100%
      input
        width:80%
      button
        color:white
        background-color:gris-dark
        border:none
        margin-left:1.5em
        margin-top:1.2em
    ul
      width:100%
      padding:0 1em
      li
        width:100%
        display:inline-block
        border-bottom: 2px solid gris-light
        a
          padding-bottom 1em
          display:inline
          width:100%
          text-decoration:none
          color:white
.header
  margin-top:-27em
  background-image:url('../img/bg.png');
  background-color:black
  height:25em
  text-align:center
  padding:3em 1em
  img,h2
    margin-bottom:1em
  a
    display:inline-block
    height:3em
    width:100%
    padding:1em
    span
      float:left
      margin-left:1em
      border-right:1px solid gris-light
    p
      margin-bottom:1em
      margin-left:1em
      float:left
.main
  .start
    width:100%
    text-align:center
    margin-top:1em
    a
      width:50%;
      font-size:1.5em
      padding:0 .5em
      &:first-child
        border-right:2px solid gris-light
.main
  text-align:center
  img
    width:100%
.footer
  margin-top:2rem
  background-color:gris-dark
  padding:1em
  color:white
  a
    color:white
    float:right
    margin-left:0.5em
    text-decoration:underline
.facebook
  background-color:color-facebook
.twitter
  background-color:color-twitter
.white
  color:white
.gris-claro
  color:gris-light
.border-radius
  border-radius:10px
.open-sidebar
  margin-left:-80%
